* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0.6rem 1.25rem;
    background-color: #efeef3;


    @media (min-width: 320px) and (max-width: 900px) {
        flex-direction: column;
        position: relative;


    }


}

nav {
    width: 85%;

    @media (min-width: 320px) and (max-width: 900px) {
        width: 100%
    }


    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        font-family: "Kodchasan", system-ui;
        font-size: 1.5rem;
        font-weight: 400;
       

        @media (min-width: 320px) and (max-width: 900px) {

            text-align: center;
            flex-direction: column;
            margin-top: 2rem;
            gap: 25px;
            font-size: 1.4rem;



        }
    }



}


.modelos-sorrindo {
    width: 100%;

    @media (max-width: 900px) {
        display: none;
    }
}



body {
    background-color: #efeef3;
}


.section1 {

    display: flex;
    margin-top: 2.4rem;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
    width: 80vw;
    

    @media (min-width: 320px) and (max-width: 900px) {
        flex-direction: column;

    }




    img {
        


        @media (min-width: 320px) and (max-width: 900px) {
            width: 80%;
        }
    }



    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;



    }

    p {
        font-family: "Kodchasan", sans-serif;
        font-size: 1.5rem;

        font-weight: 400;


        text-align: center;

        @media (min-width: 320px) and (max-width: 900px) {

            font-size: 1.25rem;
            text-align: center;
           
            width: 80vw;
           
        }
    }

    h2 {
        font-family: "Kodchasan", sans-serif;
        font-size: 2.25rem;
        font-weight: 400;


        @media (min-width: 320px) and (max-width: 900px) {
            font-size: 1.5rem;
            font-weight: 500;
            padding-top: 39px;
            width: 80vw;
            text-align: center;
            
            

        }
    }

    @media (min-width: 320px) and (max-width: 900px) {
        width: 90vw;
    }

}


.section2 {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 5% auto;
    justify-content: space-between;
    
    

    h2 {
        font-family: "Kodchasan", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        width: 25%;
        


        @media (min-width: 320px) and (max-width: 900px) {
            font-size: 1.3rem;
            font-weight: 500;
            margin-top: 5%;
            text-align: center;
            width: 80vw;



        }

    }
    
    @media (min-width: 320px) and (max-width: 900px) {
    flex-wrap: wrap;
    flex-direction: column;
    width: 90vw;
    
        
    }

}

.divend {

    display: flex;
    width: 50%;
    justify-content: space-between;
    
    
    
    @media (min-width: 320px) and (max-width: 900px) {
        width: 70%; 
        flex-wrap: wrap;
        
        margin-top: 10%;
        gap: 20px;

        @media (min-width: 320px) {

            img {
                width: 30%;
            }
            

        }
        
        

    }

}